@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <form method="post" asp-action="ExecutarAcao">
        <button type="submit" class="btn btn-primary">Executar Ação no Servidor</button>
    </form>
   
    

</div>